.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item span {
  font-weight: 500;
  margin-right: 5px;
}

.button {
  padding: 5px 10px;
  background-color: gray;
  color: #fff;
  border: none;
  cursor: pointer;
}
